.envelope{
  width:90%;
  height: 220px;
  background: $accent;
  box-shadow: 0px -12px 8px -9px rgba(0,0,0,0.75);
  margin:0 auto;
  display:flex;
  justify-content:center;
  align-items:center;

  @media #{$device-md} {
    width: 95vw;
    margin: 0 auto;
    height: 160px;
  }

  .envelope-message{
    color:$white;
    font-family:$script;
    font-size:2.4375rem;
    letter-spacing:3px;


    @media #{$device-sm} {
      font-size:1.75rem;
    }
  }

  .envelope-rose{
    width:82px;

    @media #{$device-sm} {
      width:60px;
    }
  }
}

